@model heryerindirim.com.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountedPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductStockCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductStockCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryEnum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryEnum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
